body{
    font-family: 'Arial', 'sans-serif';
    line-height: 1.6;
}
img{
    width: 500px;
    display: block;
    margin: 10px auto;
    border: 2px solid;
}
h1{
    color: white;
}
h3{
    color: white;
}
footer{
    text-align :center;
    padding: 20px;
    background-color: #333;
    color: whitesmoke;
}
.cabecalho{
    width: 100%;
    height: 80px;
    background-color: black;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-style: italic;
 }
 .turismo{
    color: black;
    font-style: italic;
    text-align: center;

 }
 .texto_limitado{
        max-width: 600px;
        text-align: center;
        overflow-wrap : break-word;
        margin: 0 auto;
        font-weight: normal;
 }
 .texto_corrido{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    color: black;
 }
  a{
    text-decoration: none;
    color: black;
 }
 .subtitulo{
    color: black;
    font-style: italic;
    text-align: center;
 }